nav>ul>li>a{
    color: black;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

#horizontal_underline{
    /* border-bottom: 0.2rem solid plum; */
    background-color: pink;
    width: 0;
    height: 0.5rem;
    position: absolute;
    top: 50px;
    transition: 0.3s ease-in-out;
    border-radius: 25px;
}
nav:first-child>ul{
    display: flex;
    justify-content: space-around;
    padding: 0 10rem;
    margin: 1rem 0;
}

nav:nth-child(2)>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav:nth-child(2)>ul>li{
padding: 2rem 0;
}

#vertical_underline{
    background-color: skyblue;
    width: 0;
    height: 0.5rem;
    position: absolute;
    transition: 0.3s ease-in-out;
    border-radius: 25px;
}
